.tooltip-inner {
  white-space:nowrap;
  max-width:none;
}
.miniminitooltip {
margin-right:-17px;
padding-left:4px
}

ul.nav-tabs > li.active > a, ul.nav-tabs > li.active > a:hover {
	border-color: #D0D0D0;
	border-bottom-color: transparent;
}
 h3 {
 	margin-top: 0px;
 	margin-bottom: 10px;
 }


#tab_pane {
	background-color: #FEFEFE;
	border: 1px solid #D0D0D0;
	padding: 32px 32px 32px 32px;
	margin-top: -1px;
}

span.glyphicon {
display: inline;
}

span.input-group-addon:hover {
cursor: pointer;
}

.btn-error {
    border-color: #b94a48;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
}

.btn-blockbtn {
width: 96px;
height: 96px;
display: inline-block;
padding-left: 0px;
padding-right: 0px;
}

.element-selector {
	width: 48px;
	height: 48px;
	display: inline-block;
	padding-left: 0px;
	padding-right: 0px;
}

#element-selected {
	width: 256px;
	height: 256px;
	display: inline-block;
	padding-left: 16px;
	padding-right: 16px;
	border: 1px solid #CCC;
	border-radius: 6px;
	text-align: center;
	padding-top: 16px;
	background-color: #f7f7f7;
	margin-left: 10px;
}

#element-selected > img {
	padding-bottom: 4px;
}

.activeitem {
	background-color: #E9E9E9;
	font-weight: bold;
	border: 1px solid #888;
}

.activeitem3 {
	color: #fff;
    background-color: #5bc0de;
    border-color: #46b8da;
}

.activeitem2 {
	color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}

.save_slot {
	font-weight: bold;
}

span.save-slot {
	font-weight: normal;
}

body.dragging, body.dragging * {
  cursor: move !important;
}

li > span.glyphicon-move:hover {
	cursor: auto !important;
}
li > span.glyphicon-move {
	font-size: 24px;
}

.dragged {
  position: absolute;
  opacity: 0.9;
  z-index: 2000;
}

#step_events li.placeholder {
  position: relative;
  /** More li styles **/
}
#step_events li.placeholder:before {
  position: absolute;
  /** Define arrowhead **/
}

#step_events > li {
	height: 48px;
	background-color: #FDFDFD;
	border-bottom: 1px solid #D9D9D9;
	margin-bottom: 0px;
	width: inherit;
	padding: 4px 4px 4px 4px;
	list-style-type: none;
	vertical-align: middle;
	display: block;
}

